process {
    withLabel: python {
        conda = "${baseDir}/python_environment.yaml"
    }

    withLabel: r {
        conda = "${baseDir}/r_environment.yaml"
    }
}

params {
    // Name of script for downloading MAF files
    download_maf_script = "download_maf.r"

    // Name of script for collecting clinical data, processing maf files, and
    // combining both into a single dataframe
    maftools_script = "maftools_processing.r"

    // Name of script to perform clustering
    py_script = "mixed_datatype_clustering.py"

    // Name of TCAGA project to scrape data from
    project_name = "TCGA-STAD"

    // Instead of lists, feeding in a string with commas seperating the columns
    // and then separate out the columns again in the script files 

    // categorical_cols, binary_cols, and numerical_cols specify the columns 
    // to include in the dataframe from the clinical data and summary of maf files
    categorical_cols = "tissue_or_organ_of_origin," +
                    "primary_diagnosis," +
                    "prior_malignancy," +
                    "ajcc_staging_system_edition," +
                    "ajcc_pathologic_t," +
                    "morphology," +
                    "ajcc_pathologic_n," +
                    "ajcc_pathologic_m," +
                    "icd_10_code," +
                    "site_of_resection_or_biopsy," +
                    "race," +
                    "ethnicity," +
                    "treatments_radiation_treatment_or_therapy"

    binary_cols = "prior_malignancy," +
                "gender," +
                "vital_status"

    numerical_cols = "age_at_diagnosis," +
                    "year_of_diagnosis," +
                    "Frame_Shift_Del," +
                    "Frame_Shift_Ins," +
                    "In_Frame_Del," +
                    "In_Frame_Ins," +
                    "Missense_Mutation," +
                    "Nonsense_Mutation," +
                    "Nonstop_Mutation," +
                    "Splice_Site," +
                    "Translation_Start_Site," +
                    "MedianAbsoluteDeviation," +
                    "MATH"


    // indicates whether to include the gene-level mutation data 
    // (consists of several) thousand columns
    include_gene_level = "Yes"

    // The max number of rows * columns to all in the dataframe which is fed
    // in for clustering. The dataframe is reduced to this size by iteratively
    // removing rows and then columns which are subsequently either duplicates of
    // each other or contain all the same value
    dataframe_size = "100000"

    // Subdirectory to put download files in
    subdirectory_name = "maf_files"

    hyperparams = [1.01, 1.05, 1.1, 1.15, 1.2, 1.25, 1.3, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0]
    distance_types = ['gower','wishart', 'podani']
    clusters = [2, 3, 5, 7, 9]
}