process {
    withLabel: python {
        conda = "${baseDir}/python_environment.yaml"
    }

    withLabel: r {
        conda = "${baseDir}/r_environment.yaml"
    }
}

params {
    // Define parameters that can be passed to the script at runtime
    download_maf_script = "download_maf.r"
    maftools_script = "maftools_processing.r"

    // Subdirectory to put download files in
    subdirectory_name = "maf_files"

    // Script to perform clustering
    py_script = "mixed_datatype_clustering.py"

    hyperparams = [1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0]
    distance_types = ['gower'] //'wishart', 'podani', 'huang'
    clusters = [3, 5] // 7, 9
}